<form>
    제목       : <%= @data_show.title %><br><br>
    작성자     : <%= @data_show.editor %><br><br>
    내용       : <%= @data_show.content %><br><br>
    
    <a href="/edit/<%= @data_show.id %>">[수정]</a>
    <a href="/delete/<%= @data_show.id %>">[삭제]</a><hr><br>
</form>
