<h1>정택의 게시판</h1>
<hr>

<form action="/new" method="GET">
    <button href="/new">New</button>
</form>

<% if user_signed_in? %>
    <%= current_user.email %>
    <a href="/users/sign_out">로그아웃</a>
<% else %>
    <a href="/users/sign_in">로그인</a>
<% end %>


<hr> <br>

<h3>게시글</h3>
<br>
<% @data_text.each do |x| %>
    제목    :<a href="/show/<%= x.id %>"><%= x.title %></a>
    작성자  :<%= x.editor %>
    내용    :<%= x.content %><br><hr>
<% end %>