<div class="container">
    
    <!-- 수정 버튼, 삭제 버튼, 목록으로 가기 링크 (프론트 적용 완료) -->
    <div class="row">
 
        <!-- 수정/삭제 버튼 (완료) --> &nbsp;
        <% if current_user.id == @this_post.user.id %>
            <a href="/post_update/<%= @this_post.id%>" class="waves-effect waves-light btn" data-method="post"><i class="material-icons" style="margin-right:-10px; margin-left:-10px;">create</i></a>
            <a href="/destroy_view/<%= @this_post.id %>"  class="waves-effect waves-light btn" data-method="post"><i class="material-icons" style="margin-right:-10px; margin-left:-10px;">clear</i></a>
        <% end %>
        <!--목록으로 가기-->
        <a href="/"> &nbsp; 목록으로 가기 </a>
    </div>
    <!-- 게시글 로드 부분 -->
    <div class ="post_disp">
        <!--each do 문을 사용해 포스트를 불러옵니다-->
        <div class="post_box">
            <div class="row" style="border-bottom:1px dotted;">
            <!-- 게시글 제목 / 게시 시간 / 작성자 -->
                <span class ="ptitle"> <b><%= @this_post.title%></b> </span>
                <span style="float:right;"><%= @this_post.created_at %> | <%= @this_post.editor%></span>
            </div>
            <div class ="content_box word-break" style="margin-bottom:30px;"> <%= @this_post.content %> </div>
            <div><img class="materialboxed" width="650" src="<%= @this_post.img %>"></div> <br>
            <div class ="tag">
                <div class="chip"> Tag <i class="close material-icons">close</i> </div>
            </div>
            <div class="sns_icons"></div>
            
        <!--포스트 끝-->
            <div class="comments">
                <!-- 댓글 수 표시 텍스트 (프론트엔드 적용 완료) -->
                <span><b>댓글 <%= @this_post.comments.length %>개</b>&nbsp;&nbsp;(작성 시간 기준) </span> <hr>
                <form action = "/comment_create" method="POST">
                    <input type="hidden" name="post_id" value=<%= @this_post.id %>/><br>
                    <!-- 댓글 입력창 (프론트엔드 적용 완료) -->
                    <div class="row">  
                        <div class="input-field col s10">
                          <textarea id="textarea1" class="comment_input materialize-textarea" name="input_comment_content"></textarea>
                          <label for="textarea1"> 피드에 대한 댓글을 남겨주세요! </label>
                        </div>
                        <button type="submit" class="comment_button waves-effect waves-light btn">
                            <i class="material-icons left" style="margin-left:-20px;"> format_quote </i> 댓글 작성
                        </button>
                    </div>
                </form>
                
                <!-- 댓글 표시 (프론트엔트 적용 완료) -->
                <div class="comment_disp" style="margin-top:-30px;">
                    <% @this_post.comments.each do |c| %>
                        <div class="card-panel teal lighten-5">
                            <div class="chip">
                                <img src="<%= image_path('default-profile.png') %>">
                                <%= c.editor %>
                            </div>
                            <!--댓글 삭제(완료)-->
                            <a href= "/comment/<%=c.id%>" aria-hidden="true" data-method="post"><i class="tiny material-icons"> clear </i></a>
                            <!--댓글 수정 아직 안함-->
                            <i class="tiny material-icons"> create </i>
                            <br> <div class="comment_content word-break"><%= c.content %></div><br>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
     .word-break {
        word-break:break-all;
    
    }
    .comment_disp {
        font-family:'Nanum Gothic';
        padding-bottom:75px;
    }
    
    .container {
        padding-top:30px;
        font-family:'Nanum Gothic';
    }
</style>

<script>
    $('.carousel.carousel-slider').carousel({fullWidth: true});
    // $('.content_box').replace("\r\n","<br>");
</script>

