<div class="banner">
    <div>
        banner text
    </div>
</div>
<!--수정/삭제버튼 추가-->
<div class ="post_disp"> <!--post display 게시물이 로드되는 부분입니다.-->
    <!--each do 문을 사용해 포스트를 불러옵니다-->
    <div class="post_box">
        <div><!--포스트 제목-->
            <span class ="ptitle">
                <%= @this_post.title%>
            </span>
            <span><%= @this_post.created_at %> | <%= @this_post.editor%></span>
        </div>
        <div class ="content_box"></div>
        <div class ="img_box"><%= image_tag("flowers.jpg", size: "600") %></div>
        <div class ="tag">
            <span>Tags: post tags</span>
        </div>
        <div class="sns_icons"></div>
    <!--포스트 끝-->
        <div class="comments"><!--댓글창-->
            <span>댓글 <%= @this_post.comments.length %>개</span>
            <span>정렬기준 : 작성 시간 </span>
            <hr>
            <span>pic</span>
            <form action = "/comment_create" method="POST">
                <div class="commenter_pic"><%= image_tag("pastel_sky.jpg", size: "30") %></div>
                <input type="hidden" name="post_id" value=<%= @this_post.id %>/><br><!--댓글이 로드되는 부분입니다-->
                <input type="text" class="comment_input" name="input_comment_content"/><br>
                <button type="submit" class="comment_button">댓글작성</button><br>
            </form>
            <hr>
            <div class="comment_disp"><!--댓글이 로드되는 부분입니다-->
                <% @this_post.comments.each do |c| %>
                        작성자     : <%= c.editor %><br>
                        댓글 내용  : <%= c.content %><br> <hr>
                <% end %>
                <hr>
            </div>
        </div>
    </div>
</div>
