<body>
      <article>
        
<!--메인프로필 부분-->
        
        <div class="mainProfile row" id="mainProfile_all">
          <div id="mainProfile_head" class="center bold">
            
            <% if current_user.id == @user_info.id %>
              <a href="/profile/<%="#{@user_info.id}"%>">My Profile</a>
              
            <% else %>
                <a href="/profile/<%="#{@user_info.id}"%>"><%= @user_info.name %>님의 Profile</a>
              
            <% end %>
            
          </div>
          <section>
  <!--메인프로필 1-->
            <div class="content mainProfile_1 col offset-s3 s1 center">
    <!--메인프로필 1 사진-->
              <img class="circle" style="background-size: cover;" src="
              <% if @user_info.profile_img.file.nil? %>
               <%= image_path('default-profile.png') %>
              <% else %>
                <%= @user_info.profile_img.url %>
              <% end %>
              
              "><br>
    
              <!--사용자 정보 =--> <%= @user_info.id %> <br>
              <!--사용자 이름 =--> <%= @user_info.name %>
              <br>
              
    <!--메인프로필 1 수정/팔로우/언팔로우 버튼-->
              <span class="bold hover_cursor">
                <% if current_user.id == @user_info.id %>
                  <span class="black-text name center" onclick="location.href='/users/edit'"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;정보 수정</span>
                  <br>
                  <%= link_to "프로필 수정", "/profile_intro/#{@user_info.id}" %>
      
                  
                  <% else if @user_info.followed_by?(current_user) %>
                    <%= link_to "-UnFollow", "/unfollow/#{@user_info.id}" %>
                  
                  <% else %>
                    <%= link_to "+Follow", "/follow/#{@user_info.id}" %>
                  
                  <% end %>
                <% end %>
              </span>
            </div>
  <!--메인프로필 2-->
            <div class="content mainProfile_2 col s4">
    <!--메인프로필 2 자기소개-->
              <div class="mainProfile_intro border">
                <% if @user_info.profile_intro == nil %>
                  <%= @user_info.name %> 님이 자기소개를 입력하지 않았습니다.
                <% else %>
                  <%= @user_info.profile_intro %>
                <% end %>
                  
              </div>
    <!--메인프로필 2 해시태그-->
              <div class="mainProfile_hashtag_all border">
                <span class="mainProfile_hashtag">
                  hashtag
                </span>
              </div>
            </div>
  <!--메인프로필 성취율-->
            <div class="mainProfile_complete col s2 center">
              <h4>현재 목표의<br>성취율</h4>
              <h1 id="achievement_out"><%= $achivement_percent  %></h1>
            </div>
          </section>
        </div>
      </article>
      
<!--년도 배너-->
      <article>
        <div class="container">
          <div class="mainProfile_3">
            <h1 id="year-banner"><%= $Current_Year %>년 <%= $achivement_percent %>% 달성</h1>
          </div>
        </div>
      </article>  

    

  <!--넘어가는 탭 보류-->
      <article>
        <div class="row">
          <div class="col s12">
           <ul id="tabs-swipe-demo" class="tabs">
              <li class="tab col s3"><a class="active" href="#test-swipe-1">Feed</a></li>
              <li class="tab col s3"><a href="#test-swipe-2">MyList</a></li>
              <li class="tab col s3"><a href="#test-swipe-3">Yearly</a></li>
              <li class="tab col s3"><a href="#test-swipe-4">Friends</a></li>
            </ul>
            <div id="test-swipe-1" class="col s12 myprofile-section">
              <div class="col s12">
                  <% @post_info.each do |post| %>
                    <div class="card horizontal">
                      <div class="card-image">
                        <a href=""><img class="feed-img" src='<%= post.img.url %>'></a>
                      </div>
                      
                      <div class="card-stacked">
                        <div class="card-content">
                          <a href="/post_show/<%= post.id %>"><h5><%= post.title %></h5></a>
                          <p><%= post.content[0,350]  %>...</p>
                          <div class="profile_user"><a href="/post_show/<%= post.id %>">
                            <img class="circle profile_user_tag profile_img_tag feed-img" src="<% if @user_info.profile_img.file.nil? %> <%= image_path('default-profile.png') %> <% else %> <%= @user_info.profile_img.url  %> <% end %>">
                            <p class="profile_user_tag"><%= @user_info.name %></p></a>
                          </div>
                          <p class="write_day"><%= post.created_at  %></p>
                        </div>
                        <div class="card-action">
                          <a href="/post_show/<%= post.id %>">자세히 보기</a>
                          <% if current_user.id == post.user.id %>
                            <a href="/destroy_view/<%= post.id %>"  class="waves-effect waves-light btn right" data-method="post"><i class="material-icons" style="margin-right:-10px; margin-left:-10px;">clear</i></a>
                            <a href="/post_update/<%= post.id%>" class="waves-effect waves-light btn right" data-method="post"><i class="material-icons" style="margin-right:-10px; margin-left:-10px;">create</i></a>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
              </div>
            </div>
            <div id="test-swipe-3" class="col s12 myprofile-section">
              <%= render 'timeline' %>
            </div>
            
            <div id="test-swipe-4" class="col s12 myprofile-section">
              <%= render 'friends' %>
            </div>
            
            <div id="test-swipe-2" class="col s12 myprofile-section">
              <%= render 'mylist' %>
            </div>
            
            
          </div>
        </div>
      </article>
  <!--넘어가는 탭 보류-->    

      
<!--타임라인-->
  
</body> 

<script>

// $(document).ready(function() {
//   updateData()
// });

// function updateData() {
//   $.ajax({
//             url:'/achievement',
//             type:'get',
//             data:$('json'),
//             success:function(data){
//                 $('#achievement_out').text(data);
//             }
//         });
//   setTimeout("updateData()",10000)
// }
  
</script>
        



<!-----style------------------------------------------------------------------------------------------>

<style>
  #mainProfile_all{
    background-color: #1de9b6;
    padding-bottom: 30px;
  }
  
  #mainProfile_head{
      font-size: 20px;
      padding-top: 10px;
      margin-bottom: 12px;
  }
  
  .mainProfile .content{
      height: 200px;
  }
  
  .mainProfile_1 .circle{
      width: 95px;
      height: 95px;
  }
  
  .mainProfile_1 img {
      margin: auto;
  }
  
  .mainProfile .border {
      border-style: dashed;
      border-width: 1px 1px 1px;
      border-color: white;
  }
  
  .mainProfile_intro{
      height: 150px;
  }
  
  .mainProfile_hashtag_all{
      margin-top: 10px;
      height: 30px;
  }
  
  // 수정중
  /*
  .card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 4;
    }
  }
  */
  
  .mainProfile_complete{
      height: 200px;
  }
  
 /*년도, 성취율 배너*/

.mainProfile_3{
height: 130px;
text-align: center;
vertical-align: middle;
}
#year-banner{
    margin-top: 50px;
}

</style>