<div class="container">

<h1>사용자 목록 테스트</h1>

<br>

<% @users.each do |f| %>
<ul class="collection">
    <li class="collection-item avatar">
    <% if f.profile_img.file.nil? %>
        <img src="<%= image_path('default-profile.png') %>" alt="" class="circle">
    <% else %>
        <img src="<%= f.profile_img.url %>" alt="" class="circle">
    <% end %>
    
    <span class="title"><b> 이름 : <%= f.name %> </b></span>
    <p> 사용자 번호 : <%= f.id %> <br>
    이메일 : <%= f.email %> <br>
    <% if current_user.id == f.id %>
        <%= "현 사용자의 프로필입니다!" %>
    <% else %>
        <%= link_to "프로필 보기", "/profile/#{f.id}" %>
    <% end %>
    </p>
    <% if current_user.id == f.id %>
     공백 
        <% else if f.followed_by?(current_user) %>
            <a href="/unfollow/<%= f.id %>" class="secondary-content"><i class="material-icons"> clear </i></a>
        <% else %>
            <a href="/follow/<%= f.id %>" class="secondary-content"><i class="material-icons"> person_add </i></a>
        <% end %>
    <% end %>
    </li>
</ul>
<% end %>

<h1>사용자가 구독한 목록</h1>

<% @list.each do |f| %>
    <ul class="collection">
    <li class="collection-item avatar">
    <% if f.profile_img.file.nil? %>
        <img src="<%= image_path('default-profile.png') %>" alt="" class="circle">
    <% else %>
        <img src="<%= f.profile_img.url %>" alt="" class="circle">
    <% end %>
    <span class="title"><b> 이름 : <%= f.name %> </b></span>
    <p> 사용자 번호 : <%= f.id %> <br>
    이메일 : <%= f.email %> <br>
    <%= link_to "프로필 보기", "/profile/#{f.id}" %>
    </p>
    <a href="/unfollow/<%= f.id %>" class="secondary-content" data-confirm="이 사용자를 언팔로우하시겠어요?">
        <i class="material-icons"> clear </i>
    </a>
    </li>
  </ul>
<% end %>

</div>