<div class="container">
  <h2 style="font-family:'Verdana';"> 로그인 </h2>
  <h6 style="font-family:'Nanum Gothic'; font-size:12px;margin-top:-5px;margin-bottom:15px;">
    회원가입을 하시면 더 많은 서비스를 즐기실 수 있습니다.
  </h6>
  
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
  
    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      
      <%= f.label :name %><br>
      <%= f.text_field :name, autofocus: true %><br>
      
      <!-- %= f.input :gender,  :collection => ["Male","Female"]
                             :as => :radio_buttons, 
                            # :checked => nil,
                            # :item_wrapper_class => 'inline',
                            # :label => "Gender" % -->
                            
        <%= f.label :date_of_birth %><br>
        <%= f.date_select :date_of_birth, :start_year=>1900, :end_year=>2017 %>
      
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <br> <%= f.input :password_confirmation, required: true %>
    </div>
  
    <div class="form-actions">
      <%= f.button :submit, "회원가입" %>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>

<style>
  .container {
    padding-right:150px;
    padding-left:150px;
    padding-top:30px;
    margin-top:40px;
    padding-bottom:120px;
    margin-bottom:60px;
    background-color:#e0e0e0;
    border-radius:10px;
    height:200%;
  }
</style>
