<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--부트스트랩 모바일 반응형을 위한 meta 태그-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--부트스트랩-->
  <!-- jquery cdn -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <!-- ajax cdn-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<!--header-->
<header>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <i class="fa fa-bars" aria-hidden="true"></i>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" onclick="location.reload()" href="/">BucketList</a>
        <% if user_signed_in? %> <!-- 로그인 했을 때 -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto my-auto">
          <li class="nav-item mx-3">
            <a class="nav-link" onclick="location.reload()" href="/mylist">MY LIST</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" onclick="location.reload()" href="/write">WRITE</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" onclick="location.reload()" href="/profile/<%= current_user.id %>">FEED</a>
          </li>
          <!--<li class="nav-item mx-3 dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              FEED
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">FRIEND'S</a>
              <a class="dropdown-item" href="#">RANDOM</a>
            </div>
          </li>-->
          <li class="nav-item mx-3">
            <a class="nav-link" onclick="location.reload()" href="#">YEARLY</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" onclick="location.reload()" href="/friends">FRIEND</a>
          </li>
        </ul>
        <a class="btn btn-info my-2" onclick="location.reload()" href="/home_logout" role="button">Logout</a>
      </div>
      <!-- 만약 로그인하지 않았다면 -->
      <% else %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent2" align="right">
        <ul class="navbar-nav mr-auto my-auto">
          <li class="nav-item mx-3"></li>
          <li class="nav-item mx-3"></li>
          <li class="nav-item mx-3"></li>
          <li class="nav-item mx-3"></li>
          <li class="nav-item mx-3"></li>
        </ul>
        <a class="btn btn-info my-2" onclick="location.reload()" href="/users/sign_up" role="button"> 회원가입 </a>
        <a class="btn btn-info my-2" onclick="location.reload()" href="/users/sign_in" role="button"> Log in </a>
  	  </div>
      <% end %>
    </nav>
  </div>
</header>
<!--header-->

<div class="container-fluid">
  <div class="row">
    <!--profile section-->
      <div class="col-md-3">
        <aside>
          <div class="widget_profile_section py-4 my-1">
              <div>
                <img src="http://cfile28.uf.tistory.com/image/265D634852CD1F30178C8B" class="rounded mx-auto d-block widget_profile_image" alt="user_profile_image">
              </div>
              <div class="widget_profile_name">
                이두희
              </div>
              <div class="widget_profile_bitrhday">
                1983년07월16일
              </div>
              <div class="widget_profile_button">
                <a class="btn btn-outline-primary" href="/mylist" role="button">목표 추가하기</a>
              </div>
              <div>
                <% if user_signed_in? %>
                  <table class="goal_graph mx-auto">
                    <tr>
                      <th>
                        <svg width="16" height="150">
                          <rect width="16" height= <%= 100 %> style="fill:#4286f4;"/>
                          <rect width="16" height= <%= 100 - $achivement_percent %> style="fill:#ffffff;"/>
                        </svg>
                      </th>
                      <th>
                        <ul>
                          <li>서울대 입학하기</li>
                          <li>서울대 전산망 해킹하기</li>
                          <li>김태희 사진 찾기</li>
                          <li>멋쟁이사자처럼 만들기</li>
                          <li>콩두컴퍼니 만들기</li>
                        </ul>
                      </th>
                    </tr>
                  </table>
                <% else %>
                  <p> 로그인이 필요합니다! </p>
                <% end %>
              </div>
          </div>
        </aside>
      </div>
    <!--profile section-->

    <!--post section-->
      <div class="col-md-10 my-1">
        <section>
          <article>
            <div class="post_section">
                <%=yield%>
            </div>
          </article>
        </section>
      </div>
    <!--post section-->
  </div>
</div>
<footer>
  안녕하세요 저는 footer에요
</footer>
</body>
</html>
  